.header {
  &--wrapper__nav {
    background: linear-gradient(108deg, $color-gray-light 50%, $color-gray-middle 50%);
    border-bottom: 1px solid $color-border;
  }
  &--wrapper__home {
    background-color: $color-gray-lightest;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 34px 0 78px;
    background-color: $color-gray-lighter;
    @include phone {
      width: calc(100vw - 34px - 78px);
      flex-direction: column;
    }
    &__list {
      display: flex;
      @include phone {
        width: 100%;
        justify-content: space-between;
      }
      &__element {
        padding: 2px 0;
        &__link {
          padding: 9.5px 20px;
          color: $color-gray-dark;
          &:hover {
            color: black;
            border-bottom: 3px solid $color-border-accent;
          }
        }
      }
    }
    &__panel {
      display: flex;
      &__element {
        &__register {
          padding: 11.5px 27.5px;
          background-color: $color-gray-middle;
          &:hover {
            background-color: $color-border-accent;
            transition: 0.4s;
            a {
              color: white;
              transition: 0.4s;
            }
          }
        }
        &__login {
          padding: 11.5px 27.5px;
          background-color: $color-gray-dark;
          a {
            color: $color-text-white;
          }
          &:hover {
            background-color: $color-border-accent;
            transition: 0.4s;
          }
        }
      }
    }
  }
  &__home {
    &__list {
      display: flex;
      align-items: center;
      margin: 0 30px 0 40px;
      &__element {
        line-height: 3rem;
        &__home {
          color: $color-text-accent;
          text-decoration: underline;
          margin-right: 3px;
          &:hover {
            color: $color-gray-middle;
          }
        }
        &__login {
          color: $color-gray-dark;
          &:hover {
            color: $color-gray-middle;
          }
        }
      }
    }
  }
}
