$color-gray-lightest: #f4f4f4;
$color-gray-lighter: #ebebeb;
$color-gray-light: #cecdcd;
$color-gray-middle: #9e9d9d;
$color-gray-dark: #5e5e5e;

$color-border: #d3d3d3;

$color-text-white: #ffffff;
$color-text-dark: #212121;
$color-text-accent: #5a92c8;
